@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;700');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(224, 224, 224);
}

input[name="buttonNext"] { 
    background-color: rgb(243, 243, 243);
    height: 30px;
    border: rgb(170, 170, 170);
    box-shadow:0px 5px 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    position: absolute;
    /* float: right; */
    display: inline-block;
    right: 10px;
    /* margin-left: 90%; */
    /* margin-right: 1%; */
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;

}

input[name="buttonNext"]:hover {  
    background-color: rgb(228, 228, 228);

}

input[name="buttonNext"]:focus {  
    background-color: rgb(173, 173, 173);

}

input[name="buttonPrevious"] { 
    background-color: rgb(243, 243, 243);
    height: 30px;
    border: rgb(170, 170, 170);
    box-shadow:0px 5px 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    /* float: left; */
    display: inline-block;
    margin-left: 1%;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;

}

input[name="buttonPrevious"]:hover {  
    background-color: rgb(228, 228, 228);

}

input[name="buttonPrevious"]:focus {  
    background-color: rgb(173, 173, 173);

}


@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:900');
.cards {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin: 0;
}
@media (max-width: 767px) {
    .cards {
        display: block;
    }
}
.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    max-height: 300px;
    margin: 20px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0.025);
    text-align: center;
    transition: max-height 1s;
    width: 240px;
    opacity: 0.8;
}
@media (max-width: 767px) {
    .card {
        left: calc(50% - 20px);
        transform: translateX(-50%);
    }
}
.card.expanded {
    max-height: 800px;
}
.label {
    margin-top: 30px;
    transform: translateY(10px);
    transition: transform 1000ms;
}
.card.expanded .label {
    transform: translateY(0);
}
.chevron {
    margin-top: 10px;
    margin-bottom: 10px;
    bottom: 20px;
    left: calc(50% - 15px);
    transform-origin: 50%;
    transform: rotate(180deg);
    transition: transform 1000ms;
}
.card.expanded .chevron {
    transform: rotate(0deg);
}
.title {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    margin: 10px 0 12px;
}
.body-text {
    padding: 0 20px;
}

.image {
    border: transparent;
    border-radius: 9px 9px 0px 0px;
    height: 240px;
    width: 240px;
}
.image.expanded {
    border-radius: 0px;
}

.text, .beforeMembers, .beforeDate, .creationDate, .beforeAlbum, .firstAlbum {
    display: none;
    transition: display 2s;
}
.text.displayed, .beforeMembers.displayed, .beforeDate.displayed, .creationDate.displayed, .beforeAlbum.displayed, .firstAlbum.displayed {
    display: block;
}

.members {
    margin-top: 10px;
    display: none;
}
.members.displayed {
    display: block;
}