body{
    background-color: #909090;
}
.title{
    text-align: center;
}
section#principal{
    background-color:#808080; 
    overflow:auto;
    padding:10px;
}
article#d-concert{
    float:left;
    margin-left:25%;
    border-style: outset;
    border-radius: 10px;
    text-align: center;
}
article#p-concert{
    float:right;
    margin-right:25%;
    border-style: outset;
    border-radius: 10px;
    text-align: center;
}
article#d-concert:hover, article#d-concert:focus, article#d-concert:active {
    background: #A0A0A0 ;
}
article#p-concert:hover, article#p-concert:focus, article#p-concert:active {
    background: #A0A0A0 ;
}
