.section_titre{
    opacity: 2;
    text-align: center;
    color:rgb(253, 253, 253)
}
section.locations{
    overflow:auto;
    padding:10px;
}
article#d-concert{
    background: linear-gradient(45deg,rgb(45, 45, 45), rgb(243, 214, 47));
    width: auto;
    color: white;
    float:left;
    margin-left:25%;
    border-style: outset;
    border-radius: 10px;
    text-align: center;
}
article#p-concert{
    background: linear-gradient(135deg,rgb(243, 214, 47), rgb(45, 45, 45));
    width: auto;
    color: white;
    float:right;
    margin-right:25%;
    border-style: outset;
    border-radius: 10px;
    text-align: center;
}
#name{
    text-align: center;
}