@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;700');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(224, 224, 224);
}



@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:900');
.cards {
    align-items: center;
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin: 0;
}
@media (max-width: 767px) {
    .cards {
        display: block;
    }
}
.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    height: 280px;
    margin: 20px;
    padding: 0 20px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0.025);
    text-align: center;
    transition: height 1000ms;
    width: 240px;
    background-repeat: round;
    background-size: cover;
    /* background-position: 0; */
    opacity: 0.8;
}
@media (max-width: 767px) {
    .card {
        left: calc(50% - 20px);
        transform: translateX(-50%);
    }
}
.card.expanded {
    height: 400px;
}
.label {
    margin-top: 30px;
    transform: translateY(10px);
    transition: transform 1000ms;
}
.card.expanded .label {
    transform: translateY(0);
}
/* .text-content {
  transform: translateY(-160px);
  transition: transform 1000ms;
}
.card.expanded .text-content {
  transform: translateY(-15px);
} */
.chevron {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 15px);
    transform-origin: 50%;
    transform: rotate(180deg);
    transition: transform 1000ms;
}
.card.expanded .chevron {
    transform: rotate(0deg);
}
.title {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 900;
    margin: 10px 0 12px;
}
.body-text {
    padding: 0 20px;
}
.text {
    display: none;
    transition: display 2s;
}
.text.displayed {
    display: block;
}