<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>Dates</title>

    <script src="https://maps.google.com/maps/api/js?key=AIzaSyA7AVvIrMgQIUwFa1vmw4WWG8uuFK7MHcs" type="text/javascript"></script>
    <script async type="text/javascript">
        // On initialise la latitude et la longitude de Paris (centre de la carte)
        let lat = 48.852969;
        let lon = 2.349903;
        let map = null;
        // Fonction d'initialisation de la carte
        function initMap() {
            // Créer l'objet "map" et l'insèrer dans l'élément HTML qui a l'ID "map"
            map = new google.maps.Map(document.getElementById("map"), {
                // Nous plaçons le centre de la carte avec les coordonnées ci-dessus
                center: new google.maps.LatLng(lat, lon), 
                // Nous définissons le zoom par défaut
                zoom: 11, 
                // Nous définissons le type de carte (ici carte routière)
                mapTypeId: google.maps.MapTypeId.ROADMAP, 
                // Nous activons les options de contrôle de la carte (plan, satellite...)
                mapTypeControl: true,
                // Nous désactivons la roulette de souris
                scrollwheel: false, 
                mapTypeControlOptions: {
                    // Cette option sert à définir comment les options se placent
                    style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR 
                },
                // Activation des options de navigation dans la carte (zoom...)
                navigationControl: true, 
                navigationControlOptions: {
                    // Comment ces options doivent-elles s'afficher
                    style: google.maps.NavigationControlStyle.ZOOM_PAN 
                }
            });
        }
        window.onload = function(){
            // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
            initMap(); 
        };
    </script>
    </script>
        <style type="text/css">
            #map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
                height: 600px;
                width: 1200px;
                margin-left: 10%;
                margin-bottom: 30px;
            }
    </style>
</head>
<body>
    <div class="navbar">
        <h1>Groupie Tracker</h1>
        <h4>All you want to know about concerts</h4>
        <nav class="tabs">
            <div class="selector"></div>
            <a href="/home"  class="link">Accueil</a>
            <a href="/artists" class="link">Artistes</a>
            <a href="#" class="link active">Dates</a>
            <a href="/locations" class="link">Villes</a>
        </nav>
    </div>
    <h1>Page dates</h1>
    <a href="/home">Go Home</a>
    <a href="/artists">Display artists</a>
    <a href="/locations">Display locations</a>

    <div id="map">

    </div>
</body>
</html>