<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/dates.css">
    <title>Dates</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/src/logo.png">
</head>
<body>
    <div class="navbar">
        <h1>Groupie Tracker</h1>
        <h4>All you want to know about concerts</h4>
        <nav class="tabs">
            <div class="selector"></div>
            <a href="/home"  class="link">Accueil</a>
            <a href="/artists" class="link">Artistes</a>
            <a href="#" class="link active">Dates</a>
            <a href="/locations" class="link">Villes</a>
        </nav>
    </div>
    <div class="main">
        <div class="demo_wrap">
            <h1>Viens Choisir les dates auquelle tu voudris participer !</h1>
            <article id="left">
                <p class="left"></p>
                <p class="left"></p>
                <p class="left"></p>
            </article>
            <section id="principal">
                <aside class="locations">
                    <article id="d-concert">
                        <div class="text">
                            <div class="section_titre">
                                <h2>Dernier concert</h2>
                            </div>
                            <div class="section_text">
                                <span class="section_text">Le: "insérer la date"</span>
                                <br>
                                <span class="section_text">Où: "insérer le lieu"</span>
                            </div>
                        </div>
                    </article>
                </aside>
                    <aside class="locations">
                    <article id="p-concert">
                        <div class="text">
                            <div class="section_titre">
                                <h2>Futur concert</h2>
                            </div>
                            <div class="section_text">
                                <span class="section_text">Le: "insérer la date"</span>
                                <br>
                                <span class="section_text">Où: "insérer le lieu"</span>
                            </div>
                        </div>
                    </article>
                </aside>
            </section>
            <article id="right">
                <p class="right"></p>
                <p class="right"></p>
            </article>
        </div>
    <h1>Page dates</h1>
    <a href="/home">Go Home</a>
    <a href="/artists">Display artists</a>
    <a href="/locations">Display locations</a>
    <script>
        let responseData = '{{.ResponseData}}'
    </script>
    <script src="../js/display.js" defer></script>
</body>
</html>