<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
</head>
<body>
    <div class="title">
        <h1>Page locations</h1>
    </div>
    <a href="/home">Go Home</a>
    <a href="/artists">Display artists</a>
    <a href="/dates">Display dates</a>
    <select class="locations">
        <article class="concert">
            <div class="image">
                <img src="https://www.google.fr/url?sa=i&url=http%3A%2F%2Fwww.playing-informatique.fr%2F&psig=AOvVaw3IrNnJmPH4Tdcgt_r1KOzK&ust=1618383118360000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjg5orR-u8CFQAAAAAdAAAAABAD">
            </div>
            <div class="text">
                <div class="section_titre">
                    <h2>titre</h2>
                </div>
                <div class="section_text">
                    <span class="section_text">test 1 2 1 2</span>
                </div>
            </div>
        </article>
    </select>
</body>
</html>