<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
    <link rel="stylesheet" href="static/css/locations.css">
</head>
<body>
    <header>
        <div class="title">
            <h1>Page locations</h1>
        </div>
    </header>
    <nav>
        <ul id="navigation">
            <li><a href="/home">Go Home</a></li>
            <li><a href="/artists">Display artists</a></li>
            <li><a href="/dates">Display dates</a></li>
        </ul>
    </nav>
    <br>
    <section class="section">
        <aside class="locations">
            <article class="d-concert">
                <div class="image">
                    <img src="https://www.google.fr/url?sa=i&url=http%3A%2F%2Fwww.playing-informatique.fr%2F&psig=AOvVaw3IrNnJmPH4Tdcgt_r1KOzK&ust=1618383118360000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjg5orR-u8CFQAAAAAdAAAAABAD">
                </div>
                <div class="text">
                    <div class="section_titre">
                        <h2>Dernier concert</h2>
                    </div>
                    <div class="section_text">
                        <span class="section_text">test 1 2 1 2</span>
                    </div>
                </div>
            </article>
        </aside>
            <aside class="locations">
            <article class="p-concert">
                <div class="image">
                    <img src="https://www.google.fr/url?sa=i&url=http%3A%2F%2Fwww.playing-informatique.fr%2F&psig=AOvVaw3IrNnJmPH4Tdcgt_r1KOzK&ust=1618383118360000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjg5orR-u8CFQAAAAAdAAAAABAD">
                </div>
                <div class="text">
                    <div class="section_titre">
                        <h2>Futur concert</h2>
                    </div>
                    <div class="section_text">
                        <span class="section_text">test 1 2 1 2</span>
                    </div>
                </div>
            </article>
        </aside>
    </section>
</body>
</html>