<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
    <link rel="stylesheet" href="static/css/locations.css">
    <link rel="stylesheet" href="static/css/navbar.css">
    
</head>
<body>
    <header>
        <div class="title">
            <h1>Locations</h1>
        </div>
    </header>
    <nav>
        <ul id="navigation">
            <li><a href="/home">Go Home</a></li>
            <li><a href="/artists">Display artists</a></li>
            <li><a href="/dates">Display dates</a></li>
        </ul>
    </nav>
    <br>
    <div id="reglage">
        <select id="name">

        </select>
    </div>
    <section id="section">
        <aside class="locations">
            <article id="d-concert">
                <div class="text">
                    <div class="section_titre">
                        <h2>Dernier concert</h2>
                    </div>
                    <div class="section_text">
                        <span id="section_text1">Le: </span>
                        <br>
                        <span id="section_text2">Où: </span>
                    </div>
                </div>
            </article>
        </aside>
            <aside class="locations">
            <article id="p-concert">
                <div class="text">
                    <div class="section_titre">
                        <h2>Futur concert</h2>
                    </div>
                    <div class="section_text">
                        <span id="section_text3">Le: "insérer la date"</span>
                        <br>
                        <span id="section_text4">Où: "insérer le lieu"</span>
                    </div>
                </div>
            </article>
        </aside>
    </section>
    <script>
        let responseData = '{{.ResponseData}}'
        let responseRelation = '{{.ResponseRelation}}'
    </script>
    <script src="../static/js/display.js" defer></script>
</body>
</html>